@media(max-width:600px) {
    html {
            font-size: 65%;
            font-weight: 800;
        }
                  .container {
                      display: grid;
                      grid-template-columns: repeat(2, 1fr);
                      padding: auto;
                      margin-top: 2rem;
                  }
                  .card {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
           
                  }
                  .card>:nth-child(2){
                    font-weight: 800;
                  }
                  .card-header{
                    display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap:4rem;
                               
                  }
                  .btn{
                    gap: 1rem;
                    margin-left: 2.8rem;
                    color: red;
                    background-color: transparent;
                  }
                  .status-infor{
                    display: flex;
                    background-color: aliceblue;
                    color: rgb(34, 33, 33);
                    padding: 1.2rem;
                    margin-left: 0.5rem;
                    border-radius: .8rem;
                        justify-content: center;
                        align-items: center;
                        align-items: center;
                        gap: 4rem;
                    height: 10px;
                  }
                  .card-header .Heading{
                 /* Set the desired height of the header */
                 width: 30px;
                 white-space: normal;
                    /* overflow: hidden; */
                    /* text-overflow: ellipsis; */
                  }
                                  
            
}